/* RESET */
/* This reset is a copied from Andy Bell reset css */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'], ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {   

  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* DECLARE VARIABLES */
:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --linear-gradient: hsl(249, 99%, 64%);
  --red: hsl(0, 100%, 66%);

  --fs-small: .5625rem;
  --fs-large: 1.125rem; 
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;

  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

main {
  max-width: 100%;
}

.card__wrapper {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  color: var(--white);
  font-size: var(--fs-small);
}

.bg__color {
  grid-column: 1/5;
  grid-row: 1/6;
  background: var(--linear-gradient);
}

.card__back, .card__front {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.back__img, .front__img {
  grid-column: 1/4;
  grid-row: 1/4;
}

/* Back card */
.card__back {
  grid-column: 2/5;
  grid-row: 1/5;

  margin: 1.875rem 1.25rem auto 1rem; 
}

.cvc__result {
  grid-column: 1/4;
  grid-row: 2/3;
  justify-self: end;
  margin-right: 37px;
}

/* Front card */
.card__front {
  grid-column: 1/4;
  grid-row: 3/7;
  align-items: center;

  margin-top: 1.6875rem;
  margin-left: 1rem;
}

.circles {
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  align-items: center;
  gap: 10px;
}

.big__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--white);
}

.small__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1.5px solid var(--white);
}

.front__img {
  grid-column: 1/4;
  grid-row: 1/4;
}

.cardnumber__result {
  grid-column: 1/4;
  grid-row: 2/3;

  font-size: var(--fs-large);
  
  display: flex;
  gap: 1rem;
}

.name__result {
  grid-column: 1/2;
  grid-row: 3/4;
}

.date__result {
  grid-column: 3/4;
  grid-row: 3/4;

  justify-self: end;
  margin-right: 1.25rem;
}

.circles, .name__result, .cardnumber__result {
  margin-left: 1.25rem;
}

/* Card form */
.card__form {
  max-width: 100%;
  margin-top: 3rem;
  padding: 0 1.5rem;

  color: var(--very-dark-violet);  
}

.start__state {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 1.25rem;
  column-gap: .6875rem;
}

.name__wrapper {
  grid-column: 1/3;
  grid-row: 1/2;
}

.cardnumber__wrapper {
  grid-column: 1/3;
  grid-row: 2/3;
}

.date__wrapper {
  grid-column: 1/2;
  grid-row: 3/4;

  border: transparent;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  gap: 8px;

  margin-top: 9px;
}

.cvc__wrapper {
  grid-column: 2/3;
  grid-row: 3/4;
}

.start__state .btn {
  grid-column: 1/3;
  grid-row: 4/5;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.box {
  padding: 1.25rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);

  outline-color: var(--linear-gradient);
}

.box::placeholder {
  color: var(--light-grayish-violet);
  font-size: var(--fs-large);
}

.btn {
  padding: 1.25rem;
  border-radius: 8px;
  border: transparent;
  background-color: var(--very-dark-violet);

  font-size: var(--fs-large);
  color: var(--white);
}